*{
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.white
{
    color: white;
    margin-left: 37%;
}

.moveit
{
    margin-top: 5%;
    margin-left: 40%;
}

.marleft
{
    margin-left: 5px;
}

.move{
    margin-left: 8%;
    margin-right: 10%;
}
.ohno{
    color: red;
}

.quoteinfo
{
    border: 2px solid black;
}
